<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="ConnectionString" value="AccountEndpoint=https://dd24477books.documents.azure.com:443/;AccountKey=86FDJabrZkhbNCHniaZdBQ4sJCk25O8gHLKUXdkKaEF8fywVhHwJcDZVoc54bvF3Th1Ju6etd4rsACDbbAXlFQ==" />
        <add key="IPEndpoint" value="https://proxy.webshare.io/api/v2/proxy/list/download/amdmllzjtyujcveqnfjfkjtrdtdrmdvhcubvaljj/-/any/sourceip/direct/-/" />
    </appSettings>
</configuration>